In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import timedelta, date
import matplotlib
from pandas import Series, DataFrame

In [8]:
# import data
df = pd.read_csv('./Data/complete.csv', on_bad_lines='skip') # csv had some bad data, had to skip

df = df.drop('Unnamed: 11', axis=1)

# remove Canadian provinces (and nulls) using list of states (including DC)
# remove AK and HI since only plotting contiguous US
list_of_states = ['AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
    
df['state'] = df['state'].str.upper() # convert column to uppercase
df = df[df['state'].isin(list_of_states)]
df = df[df['country'].isin(['us'])]

# clean the data
# remove values that contain '/' and 'q'
df = df.drop(df[df.latitude.str.contains(r'[/q]')].index)

# convert lat/long to float
df['latitude'] = df.latitude.astype('float')
df['longitude'] = df.longitude.astype('float')

df
# For Tableau viz
df.insert(0, 'ID', range(len(df)))
df
#df.to_csv('UFO_map_data.csv')

/Users/nicgoebel/opt/anaconda3/envs/PopulationDensity/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,0,10/10/1949 20:30,san marcos,TX,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/04,29.883056,-97.941111
3,1,10/10/1956 21:00,edna,TX,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/04,28.978333,-96.645833
5,2,10/10/1961 19:00,bristol,TN,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/07,36.595000,-82.188889
7,3,10/10/1965 23:45,norwalk,CT,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/99,41.117500,-73.408333
8,4,10/10/1966 20:00,pell city,AL,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/09,33.586111,-86.286111
...,...,...,...,...,...,...,...,...,...,...,...,...
88870,69645,9/9/2013 22:00,napa,CA,us,other,1200.0,hour,Napa UFO&#44,9/30/13,38.297222,-122.284444
88871,69646,9/9/2013 22:20,vienna,VA,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/13,38.901111,-77.265556
88872,69647,9/9/2013 23:00,edmond,OK,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/13,35.652778,-97.477778
88873,69648,9/9/2013 23:00,starr,SC,us,diamond,0.0,2 nights,On September ninth my wife and i noticed stran...,9/30/13,34.376944,-82.695833
88874,69649,9/9/2013 23:30,ft. lauderdale,FL,us,oval,0.0,still occuring,Hovering object lit with red and white lights&...,9/30/13,26.121944,-80.143611